
<style>


body {
    
    font-family:Arial, Helvetica, Sans-serif;
    font-size:11px;
    margin:0;
	 display: flex; 
 justify-content: flex-start;
 
	--jbraz: white;
	--stopka: green;
	--sbraz: black;
}
 
header {
	position: fixed;
  
    padding:0px 100px 0px 0px;
	 width: 100%;
	 margin-top:-10px;
	 

}


.navbar {
  overflow: hidden;
  background-color: #336;
  position: fixed;
 display: flex; 
 justify-content: flex-start !important;
   width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
  font-size: 17px;
 
}

main {
padding: 220px;
 margin-top: 10px;

}

footer {

    
	background-color: green;
    color: black;
	 width: 100%;
	
}


</style>