
<style>


body {
    
    font-family:Arial, Helvetica, Sans-serif;
    font-size:11px;
    margin:0;
	 display: flex; 
 justify-content: flex-start;
 
	--jbraz: white;
	--stopka: green;
	--sbraz: black;
}
 
header {

    padding:0px 0px 0px 0px;
	 width: 100%;
	margin-top:-10px;
	  background-color: white;
	   position: sticky;
	     top: 0;

	
	}

#mainowy
{
	padding: 120px 120px 0 0 ;
	
}
img {
	position:relative;
    max-width: 100%;
    height: auto;
}

.navbar {
  overflow: hidden;
  background-color: #336;
  position: fixed;
 display: flex; 
 justify-content: flex-start !important;
   width: 100%;
 
}

h1 {
  font-size: 5.9vw;
}
h2 {
  font-size: 3.0vh;
}
p {
  font-size: 2vmin;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
 
  padding: 14px 16px;
  text-decoration: none;
  
  font-size: 17px;
 
}

main {
padding: 15px 0px 0px 0px;
 margin-top: 10px;

  text-align: justify;

}

footer {

 padding: 10px 10px 5px 10px;
	
    color: white;
	width: 100%;
	background-color: #336;
	
}


</style>